{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="user-info">
        <ion-icon name="person-outline"></ion-icon>
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        <p>{{ user.email }}</p>
        <p>Дата рождения: {{ profile.birth_date }}</p>
        <p class="edit-profile"><a href="{% url 'edit_profile' %}"><b>Редактировать профиль</b></a></p>
    </div>
    <div class="main-info">
        <h1>{{ title }}</h1>
        {% block main_info %}
        {% endblock %}
    </div>

    <script src="{% static 'js/my_profile.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/my_profile_base.css' %}">
        <link rel="stylesheet" href="{% static 'css/my_profile.css' %}">
{% endblock %}