{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="order-info">
        <h2>Информация о заказе {{ order.order_number }}</h2>
        <p>Заказ оформлен <b>{{ order.created_at|date:"d.m.Y" }}</b> в <b>{{ order.created_at|date:"H:i" }}</b></p>
        <h3>Товары:</h3>
        <div class="order-items">
            {% for order_item in order_items %}
                <div class="order-item">
                    <div class="product-info">
                        <img src="{{ order_item.product_unit.product.thumbnail.url }}"
                             alt="{{ order_item.product_unit.product.name }}">
                        <div class="product-properties">
                            <p class="product-name"><b>{{ order_item.product_unit.product }}</b></p>
                            <p>{{ order_item.product_properties_string }}</p>
                        </div>
                    </div>
                    <div class="item-info">
                        <span><b>Количество:</b> {{ order_item.quantity }}</span>
                        <span><b>Стоимость:</b> {{ order_item.calculate_subtotal }} ₽</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p><b>Общая стоимость:</b> {{ order.total_price }} ₽</p>
        <p><b>Статус:</b> {{ order.get_status_display|lower }}</p>
    {% if user.is_manager %}
        <a class="colored-link" href="{% url 'manage_order' order_number=order.order_number %}"><b>Редактировать заказ</b></a>
    {% endif %}
    </div>

    <link rel="stylesheet" href="{% static 'css/order_details.css' %}">
{% endblock %}